body {
    background-image: url("images/tumblr_pa0f5iR0rK1wyjoceo4_1280.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #154456;

    color: white;
    font-size: 20px;
}

h1 {
    color: white;
    padding: 10px;
    border: 5px solid #0C1F23;
    background-color: #113448;
}

a {
    color: white;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

table, td {
    border-collapse: collapse;
    width: 100%;
}

td {
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

#bot {
    padding: 20px;
    background-color: #526671;
}